<h1>{{Today | date:'shortTime'}}</h1>
<a href=""></a>
<div class="clock-dial">
  <div class="point">
    <div class="hour hour-1">1</div>
    <div class="hour hour-2">2</div>
    <div class="hour hour-3">3</div>
    <div class="hour hour-4">4</div>
    <div class="hour hour-5">5</div>
    <div class="hour hour-6">6</div>
    <div class="hour hour-7">7</div>
    <div class="hour hour-8">8</div>
    <div class="hour hour-9">9</div>
    <div class="hour hour-10">10</div>
    <div class="hour hour-11">11</div>
    <div class="hour hour-12">12</div>
    <div class="brand">BY GUGLIELMO</div>
    <div class="minute-hand-wrapper" [ngStyle]="{transform:'rotate('+m+'deg)'}">
      <div class="minute-hand">
        <div class="hand"></div>
        <div class="arrow">V</div>
      </div>
    </div>
    <div class="hour-hand-wrapper" [ngStyle]="{transform:'rotate('+h+'deg)'}">
      <div class="hour-hand">
        <div class="hand"></div>
        <div class="arrow">V</div>
      </div>
    </div>
    <div class="second-hand-wrapper" [ngStyle]="{transform:'rotate('+s+'deg)'}">
      <div class="second-hand">
        <div class="hand"></div>
      </div>
    </div>
  </div>
</div>


