body{
  padding: 150px;
}

.clock-dial{
  width: 500px;
  height: 500px;
  border: 20px solid rgb(18, 117, 72);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  box-shadow: 5px 5px 10px grey;
  .point{
    width: 20px;
    height: 20px;
    background-color: rgb(18, 117, 72);
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
    .hour{
      font-size: 30px;
      font-weight: bold;
      color: rgb(79, 74, 74);
      position: absolute;
    }
    .hour-1{
      top: -213px;
    right: -109px;
    }
    .hour-2{
      top: -137px;
      right: -181px;;
    }
    .hour-3{
      top: -7px;
      right: -223px;
    }
    .hour-4{
      top: 105px;
      right: -192px;
    }
    .hour-5{
      top: 196px;
      right: -105px;
    }
    .hour-6{
      bottom: -242px;
      left: 5px;
    }

    .hour-7{
      top: 196px;
      left: -102px;
    }

    .hour-8{
      top: 99px;
      left: -211px;
    }

    .hour-9{
      top: -16px;
      left: -217px;
    }

    .hour-10{
      top: -138px;
      left: -182px;
    }

    .hour-11{
      top: -215px;
      left: -102px;
    }

    .hour-12{
      top: -242px;
      left: -3px;
    }

    .brand{
      font-size: 20px;
      font-weight: bold;
      color: red;
      position: absolute;
      top:90px;
      left:42.5%;
    }
    .minute-hand-wrapper{
      width: 400px;
      height: 400px;
      position: absolute;
      top: -199px;
      left: -190px;
      border-radius: 50%;
      .minute-hand{
        position: relative;
        .hand{
          width: 4px;
          height: 200px;
          background-color: rgb(18, 117, 72);
          position: absolute;
          left: 198px;
        }
        .arrow{
          font-size: 30px;
          font-weight: bold;
          color: rgb(18, 117, 72);
          transform: rotate(180deg);
          position: absolute;
          left: 190px;
          top:-7px;
        }
      }
    }
    .hour-hand-wrapper{
      width: 300px;
      height: 300px;
      position: absolute;
      top: -138px;
      left: -140px;
      border-radius: 50%;
      .hour-hand{
        position: relative;
        .hand{
          width: 4px;
          height: 150px;
          background-color: rgb(18, 117, 72);
          position: absolute;
          left: 148px;
        }
        .arrow{
          font-size: 30px;
          font-weight: bold;
          color: rgb(18, 117, 72);
          transform: rotate(180deg);
          position: absolute;
          left: 140px;
          top:-7px;
        }
      }
    }
    .second-hand-wrapper{
      width: 350px;
      height: 350px;
      position: absolute;
      top: -164px;
      left: -164px;
      border-radius: 50%;
      .second-hand{
        position: relative;
        .hand{
          width: 2px;
          height: 175px;
          background-color: rgb(185, 87, 27);
          position: absolute;
          left: 174px;
        }
      }
    }
  }
}
